@use '../util' as *;

.header{
     display: flex;
     flex-wrap: wrap;
     margin-top: rem(36);

     @include breakpoint(medium){
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     &__title{
          width: 100%;
          margin-bottom: rem(25);
          @include breakpoint(medium){
               width: auto;
               margin-bottom: 0;
          }
     }

     &__subtitle{
          font-size: rem(14);
          font-weight: 700;
          color: var(--text-color2);
     }

}

.line{
     width: 100%;
     height: rem(2);
     background-color: var(--Toggle);

     @include breakpoint(medium){
          display: none;
     }
}